
name: audit
on:
  push:
    branches: [ciandeasyjson]

jobs:
  # versions:
  #   runs-on: ubuntu-latest
  #   steps:
  #   - uses: actions/checkout@v3

  #   - name: Set up Go
  #     uses: actions/setup-go@v3
  #     with:
  #       go-version: 1.21

  #   - name: Verify dependencies
  #     run: find -name go.mod -execdir go mod verify \;

  # linter:
  #   runs-on: ubuntu-latest
  #   container: golang
    
  #   steps:
  #     - uses: actions/checkout@v3

  #     - name: Install golint
  #       run: go install golang.org/x/lint/golint@latest

  #     - name: Run golint
  #       run: find -name go.mod -execdir golint ./... \;
  # golangci-lint:
  #   runs-on: ubuntu-latest
  #   container: golang
    
  #   steps:
  #     - uses: actions/checkout@v3

  #     - name: Run golangci-lint
  #       uses: golangci/golangci-lint-action@v3.4.0
      
  # test:
  #   runs-on: ubuntu-latest
  #   container: golang

  #   steps:
  #     - uses: actions/checkout@v3

  #     - name: Run tests
  #       env:
  #         GOFLAGS: -buildvcs=false
  #       run: make test

  build:
    # needs: [linter, test]
  
    runs-on: ubuntu-latest
    container: golang

    steps:
      - uses: actions/checkout@v3

      - name: Build
        env:
          GOOS: linux
          GOARCH: amd64
          CGO_ENABLED: 0
        run: make build

      - name: Push build data
        uses: appleboy/scp-action@v0.1.4
        with:
          host: prinesy-poday.ru
          username: ubuntu
          overwrite: true
          key: ${{ secrets.VM_RSA_KEY }}
          source: "build, docker-compose.yml, Dockerfile, Makefile, AuthService/Dockerfile, ProductService/Dockerfile, UserService/Dockerfile"
          target: /home/ubuntu/2023_2_fanaty_elki
      - name: Deploy
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: prinesy-poday.ru
          username: ubuntu
          key: ${{ secrets.VM_RSA_KEY }}
          script: cd /home/ubuntu/2023_2_fanaty_elki && sudo make copy && sudo make up
  